{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block main %}

<main class="container">

    <div id="who" class="container-fluid">
      <div class="row">
        <h2 class="my-4">Who are Fashion Revolution ?</h2>
      </div>
      <div class="row my-4">
        <div class="col-sm-8"><p>Fashion Revolution was founded in the wake of the Rana Plaza disaster in 2013, Fashion Revolution has become the world’s largest fashion activism movement, mobilising citizens, industry and policymakers through their research, education and advocacy work.</p>
        <p>They are a global movement of people who make the fashion industry work. They are the people who wear clothes. And they are the people who make them.</p>
        </div>
        <div class="col"><img class="icon" src="static/images/blouse.png" alt="blouse"></div>
      </div>
    </div>
    
    <div id="what" class="container-fluid">
      <div class="row">
        <h2 class="my-4">What is transparency ?</h2>
      </div>
      <div class="row my-4">
        <div class="col"><img class="icon" src="static/images/needle.png" alt="needle"></div>
        <div class="col-sm-10">
          <p class="definition bg-light-green p-4 sub-text"><span class="font-weight-bold">Transparency</span>: The public disclosure of credible, comprehensive and comparable data and information about fashion's supply chains, business practices and the impacts of these practices on workers, communities and the environnement.</p>
          <p>Transparency means public disclosure. It is more than just sharing the good work that brands are doing. Transparency also means sharing about the things that go wrong and the challenges they face.</p>
          <p>Being transparent doesn't mean that companies are behaving in a responsible and sustainable manner. It is a tool for change : the information disclosed by companies provides a window into the conditions in which are clothes are being made and allows us to address them.</p>
        </div>
      </div>
    </div>
    
    <div id="why" class="container-fluid">
      <div class="row">
        <h2 class="my-4">Why transparency matters ?</h2>
      </div>
      <div class="row my-4">
        <div class="col-sm-10"><p>Transparency means public disclosure. It is more than just sharing the good work that brands are doing. Transparency also means sharing about the things that go wrong and the challenges they face.</p>
        <p>Being transparent doesn't mean that companies are behaving in a responsible and sustainable manner. It is a tool for change : the information disclosed by companies provides a window into the conditions in which are clothes are being made and allows us to address them.</p>
        </div>
        <div class="col"><img class="icon" src="static/images/fist-tall.png" alt="fist-tall"></div>
      </div>
    </div>
    
    <div id="how" class="container-fluid">
      <div class="row">
        <h2 class="my-4">How did they rank the brands ?</h2>
      </div>
      <div class="row my-4">
        <div class="col"><img class="icon" src="static/images/beaker.png" alt="beaker"></div>
        <div class="col-sm-10"><p>Transparency means public disclosure. It is more than just sharing the good work that brands are doing. Transparency also means sharing about the things that go wrong and the challenges they face.</p>
        <p>Being transparent doesn't mean that companies are behaving in a responsible and sustainable manner. It is a tool for change : the information disclosed by companies provides a window into the conditions in which are clothes are being made and allows us to address them.</p>
        </div>
        
      </div>
    </div>
    
    <div id="purpose" class="container-fluid">
      <div class="row">
        <h2 class="my-4">What is the purpose of this website ?</h2>
      </div>
      <div class="row my-4">
        <div class="col-sm-10"><p>Transparency means public disclosure. It is more than just sharing the good work that brands are doing. Transparency also means sharing about the things that go wrong and the challenges they face.</p>
        <p>Being transparent doesn't mean that companies are behaving in a responsible and sustainable manner. It is a tool for change : the information disclosed by companies provides a window into the conditions in which are clothes are being made and allows us to address them.</p>
        </div>
        <div class="col"><img class="icon" src="static/images/happy.png" alt="happy"></div>
      </div>
    </div>
    
    
    
    
    </main>
    
    

{% endblock %}