{% extends "layout.html" %}

{% block title %}{{ data['name'] }}{% endblock %}

{% block main %}

<main class="container">
    <div class="container-fluid">

    <h2>{{ data['name'] }}</h2>

        <div class="index2020 container-fluid">
            <h3 class="my-3">2020 Scores</h3>

                <div class="row">
                    <div class="graph final_scores col-lg-4">
                        <div class="graph-title center-block">Final Scores</div>
                    </div>
                    <div class="graph section_1 col-lg-4">
                        <div class="graph-title">1. Policy & Commitments</div>
                    </div>
                    <div class="graph section_2 col-lg-4">
                        <div class="graph-title">2. Governance</div>
                    </div>
                </div>
                <div class="row">
                    <div class="graph section_3 col-lg-4">
                        <div class="graph-title">3. Traceabilty</div>
                    </div>
                    <div class="graph section_4 col-lg-4">
                        <div class="graph-title">4. Know, Show, Fix</div>
                    </div>
                    <div class="graph section_5 col-lg-4">
                        <div class="graph-title">5. Spotlight Issue</div>
                    </div>
                </div>

        </div>

    </div>

    <div class="container-fluid my-5">
        <form class="row justify-content-center input-group" action="/brand_data" method="post">
                <select class="col-sm-6 form-select" name="brand_name">
                    <option disabled selected value="brand">Find out about another brand...</option>
                    {% for brand in brands %}
                    <option value="{{ brand[0] }}">{{ brand[0] }}</option>
                    {% endfor %}
            
                    {{ brands }}
                </select>
                <button class="btn btn-outline-secondary" type="submit">See scores</button>
        </form>
    </div>

</main>

{% endblock %}

{% block javascript %}
<script src="/static/js/donut_chart.js"></script>

<script>
const data = {{data | tojson}};

console.log(data)

for (let key in data) {
    if (typeof(data[key]) == "string") {
    data[key] = data[key].replace(/,/,'.')
    }
}

donut_chart('.section_1', data['section_1'])
donut_chart('.section_2', data['section_2'])
donut_chart('.section_3', data['section_3'])
donut_chart('.section_4', data['section_4'])
donut_chart('.section_5', data['section_5'])
donut_chart('.final_scores', data['final_scores'])

</script>
{% endblock %}